@model IEnumerable<MagnificoPonto.Models.ProdutoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos</h1>


<table class="table">
   
    <tbody>
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-12 mb-3">
             <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.ImageFileName) alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Preco)</p>
                    <a class="btn btn-primary " asp-action="Produto" asp-route-id="@item.Id" >Saiba Mais </a>

                    </div>
                </div>
</div> 
        }
    </tbody>
</table>
