<br />

<img src="imagemadmin" alt="Área de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para Home Page</a>
</div>