@using MagnificoPonto.Enums
@model MagnificoPonto.Models.ProdutoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Dados do Amigurumi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <select asp-for="Cor" class="form-control" asp-items="Html.GetEnumSelectList<CorType>()"><option>Selecione a cor</option></select>
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tamanho" class="control-label"></label>
                <select asp-for="Tamanho" class="form-control" asp-items="Html.GetEnumSelectList<TamanhoType>()"><option>Selecione o tamanho</option></select>
                <span asp-validation-for="Tamanho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoConfeccao" class="control-label"></label>
                <input asp-for="TempoConfeccao" class="form-control" />
                <span asp-validation-for="TempoConfeccao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProntaEntrega" /> @Html.DisplayNameFor(model => model.ProntaEntrega)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar produto" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Retornar para a lista de produtos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
