@model MagnificoPonto.Models.ProdutoModel

@{
    ViewData["Title"] = "Edit";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Magnífico Ponto - Produtos</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/front/css/slick.css" />
    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">
</head>

<body>

    <h1>Editar</h1>

    <h4>Dados do produto</h4>
    <hr />
    <div class="container">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Cor" class="control-label"></label>
                        <input asp-for="Cor" class="form-control" />
                        <span asp-validation-for="Cor" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Preco" class="control-label"></label>
                        <input asp-for="Preco" class="form-control" />
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Categoria" class="control-label"></label>
                        <input asp-for="Categoria" class="form-control" />
                        <span asp-validation-for="Categoria" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="TempoConfeccao" class="control-label"></label>
                        <input asp-for="TempoConfeccao" class="form-control" />
                        <span asp-validation-for="TempoConfeccao" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check mb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ProntaEntrega" /> @Html.DisplayNameFor(model => model.ProntaEntrega)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Peso" class="control-label"></label>
                        <input asp-for="Peso" class="form-control" />
                        <span asp-validation-for="Peso" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Tamanho" class="control-label"></label>
                        <input asp-for="Tamanho" class="form-control" />
                        <span asp-validation-for="Tamanho" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Descrição" class="control-label"></label>
                        <textarea asp-for="Descrição" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Descrição" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="ImageFileName" class="control-label"></label>
                        <input type="file" id="ImageFile" name="foto" class="form-control shadow-none" />
                    </div>
                    <div class="text-center mt-4">
                        <label for="ImageFile">
                            <img id="img" style="width:230px; height:280px" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar alteração" class="btn btn-success my-3" />
            </div>
        </form>
    </div>

    <div>
        <a class="btn btn-secondary" asp-action="Index">Retornar para a lista de produtos</a>
    </div>

    <!-- Script pré visualização da foto -->
    <script>
        const inputFile = document.querySelector("#ImageFile");
        inputFile.addEventListener("change", function (e) {
            const inputTarget = e.target;
            const file = inputTarget.files[0];
            if (file) {
                const reader = new FileReader();
                reader.addEventListener("load", function (e) {
                    const readerTarget = e.target;
                    const img = document.querySelector("#img");
                    img.src = readerTarget.result;
                });
                reader.readAsDataURL(file);
            }
        });
    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>
