<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto - Produtos</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/slick.css" />

    <link href="css\magnifico-ponto.css" rel="stylesheet">
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <strong><span>Magnífico</span> Ponto</strong>
                </a>

                <div class="d-lg-none">
                    <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                    <a href="product-detail.html" class="bi-bag custom-icon"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Início</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Equipe</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="products.html">Produtos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contato</a>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>
                </div>
            </div>
        </nav>

        <header class="site-header section-padding d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary"> Conheça nossos</span>
                            <span class="d-block text-dark">Produtos</span>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="products section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-5">Catálogo Amigurumis</h2>
                    </div>


                    <!-- PRODUTO 01 -->
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/boneca_emilia.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert me-auto">Novos Produtos</span>

                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>
                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link"> Boneca Margarida </a>
                                    </h5>

                                    <p class="product-p"> Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto"> R$175</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 02 -->

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/gatinho.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert">Preço com desconto</span>

                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Gatinho</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$110</small>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUTO 03 -->

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/naninha.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Naninha</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$135</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 04 -->

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/ursinho_docinho.png" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Ursinho Docinho</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$130</small>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUTO 05 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/porta_maternidade.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Porta Maternidade</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$210</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 06 -->

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/boneca_sophia.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Boneca Sophia</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$110</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 07 -->

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/girafa.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Girafa Gugu</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$150</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 08 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/rena_mia.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link"> Rena Mia</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$140</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 09 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/porta_berco.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Porta Berço</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$110</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 10 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/ursinhos_aviadores.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Ursinhos Aviadores</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$110</small>
                            </div>
                        </div>
                    </div>
                    \

                    <!-- PRODUTO 11-->

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/boneca_roxa.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Boneca Masha</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$110</small>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUTO 12 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/elefantinho_brutus.jpeg" class="img-fluid product-image" alt="">
                            </a>
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link"> Elefante Brutus</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$120</small>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUTO 13 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/escoteira_ana.jpeg" class="img-fluid product-image" alt="">
                            </a>
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link"> Escoteira Ana</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$120</small>
                            </div>
                        </div>
                    </div>


                    <!-- PRODUTO 14 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/safari.jpeg" class="img-fluid product-image" alt="">
                            </a>
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link"> Safari Baby</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$120</small>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUTO 15 -->


                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/product/ursinho_marinheiro.jpeg" class="img-fluid product-image" alt="">
                            </a>
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link"> Ursinho Marinheiro</a>
                                    </h5>

                                    <p class="product-p">Sob Encomenda!</p>
                                </div>

                                <small class="product-price text-muted ms-auto">R$120</small>
                            </div>
                        </div>
                    </div>



        </section>

    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="index.html">Magnífico</a> Ponto</h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong>Magnífico Ponto</strong></p>
                    <br>
                    <p class="copyright-text">Designed by <a href="#" target="_blank">Equipe</a></p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Sitemap</h5>

                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">Início</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Produtos</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Política de Privacidade</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contato</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>

                    <ul class="social-icon">

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        <li><a href="#" class="social-icon-link bi-skype"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>


