<div id="carouselMagnificoPonto" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/elefante.jpg" width="500" height="500" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/emilia.jpg" width="500" height="500" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/pato.jpg" width="500" height="500" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMagnificoPonto" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMagnificoPonto" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>