@model MagnificoPonto.Models.ContatoModel

@{
    ViewData["Title"] = "Create";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto - Contact Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">

</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">Mnade-nos um "olá"</span>
                            <span class="d-block text-dark">Amaremos </span>
                            <span class="d-block text-primary"> te escutar</span>
                        </h1>
                    </div>
                </div>
            </div>

            <img src="~/front/images/people/KatiaKarine.jpeg" class="header-image img-fluid" alt="">
        </header>

        <section class="contact section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="mb-4">Entre em contato com a <span>Magnífico Ponto</span></h2>

                        <form asp-action="Create" class="contact-form me-lg-5 pe-lg-3" role="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input asp-for="Nome" type="text" name="name" id="name" class="form-control" placeholder="Full name" required>

                                <label asp-for="Nome" for="name">Nome completo</label>
                                <span asp-validation-for="Nome" class="text-danger"></span>

                            </div>

                            <div class="form-floating my-4">
                                <input asp-for="Email"  class="form-control" >

                                <label asp-for="Email" for="email">Endereço de e-mail</label>
                            </div>

                            <div class="form-floating my-4">
                                <input asp-for="Assunto" type="subject" name="subject" id="subject" class="form-control" placeholder="Subject" required>

                                <label asp-for="Assunto" for="subject">Assunto: Dúvida / Encomenda / Outro</label>
                            </div>

                            <div class="form-floating mb-4">
                                <textarea asp-for="Mensagem" id="message" name="message" class="form-control" placeholder="Leave a comment here" required style="height: 160px"></textarea>

                                <label asp-for="Mensagem" for="message">Sua mensagem aqui</label>
                            </div>

                            <div class="col-lg-5 col-6">
                                <button type="submit" class="form-control">Enviar</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6 col-12 mt-5 ms-auto">
                        <div class="row">
                            <div class="col-6 border-end contact-info">
                                <h6 class="mb-3">E-mail</h6>

                                <a href="mailto:hello@company.com" class="custom-link">
                                    magnificoponto@hotmail.com
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <div class="col-6 contact-info">
                                <h6 class="mb-3">Nosso ateliê</h6>

                                <a href="mailto:studio@company.com" class="custom-link">
                                    Não possuímos loja física. Encontre-nos nas redes sociais
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <div class="col-6 border-top border-end contact-info">
                                <h6 class="mb-3">Correspondência</h6>

                                <p class="text-muted">Rua Barão da Ponte Alta, 294 - Nossa Senhora da Abadia, Uberaba (38 025 250)</p>
                            </div>

                            <div class="col-6 border-top contact-info">
                                <h6 class="mb-3">Nossas redes sociais</h6>

                                <ul class="social-icon">

                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>
</body>
</html>


@*

<h1>Create</h1>

<h4>ContatoModel</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assunto" class="control-label"></label>
                <input asp-for="Assunto" class="form-control" />
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensagem" class="control-label"></label>
                <input asp-for="Mensagem" class="form-control" />
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriadoEm" class="control-label"></label>
                <input asp-for="CriadoEm" class="form-control" />
                <span asp-validation-for="CriadoEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

*@