<div class="container">
    <img src="~/images/faleconosco.png" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope.png" />
            </span>
            <h5><email endereco="magnificoponto@gmail.com"></email></h5>
            <br />
            <span>
                <img src="~/images/whats.png" />
            </span>
            <h5>(34) 99999-8888</h5>
            <br />
            <span>
                <img src="~/images/home.png" />
            </span>
            <h5>Rua abc, 123 - 12345-678 - Uberaba, MG</h5>
        </p>
    </div>
</div>