@model AmigurumiListViewModel

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var amigurumi in Model.Amigurumis)
        {
            <partial name ="_AmigurumisResumo" for="@amigurumi"/>
        }
    </div> 
</div>