@model IEnumerable<MagnificoPonto.Models.Amigurumi>
<div>
    <h2>Todos os Amigurumis</h2>
</div>

@foreach (var amigurumi in Model)
{
    <div>
        <h4>@amigurumi.Nome</h4>
        <p> <img src = "@amigurumi.ImagemUrl" /></p>
        <h3>Preco : @amigurumi.Preco.ToString("c")</h3>
    </div>
}