@using MagnificoPonto.ViewModels
@model LoginViewModel

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto - Produtos</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">
</head>

<body>
    <main>

        <table class="table">
    <tr>
        <td><img src="~/front/images/logotipo.jpeg" alt="Login" width="80" height="60" class="center-block" /></td>

        <td>
            <div class="row">
                <div class="col-10 col-md-10 col-lg-10">
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />

                        @* Campo Usuário *@
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>

                        @* Campo Senha *@
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        @* Botão Login *@
                        <div class="form-group">
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-dark mt-2" value="Log in" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>

    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>

</body>

</html>