<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title> Magnífico Ponto</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">

</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>
        
        <header class="site-header section-padding d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary">Perguntas frequentes</span>
                            <span class="d-block text-dark">Sua resposta pode estar aqui</span>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="faq section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12">
                        <h2>Top 10<span> questionamentos mais comuns</span></h2>

                        <div class="accordion" id="accordionGeneral">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralOne" aria-expanded="true" aria-controls="accordionGeneralOne">
                                        1. O que são amigurumis?
                                    </button>
                                </h2>

                                <div id="accordionGeneralOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Os amigurumis da Magnífico Ponto são adoráveis bonecos de crochê, feitos à mão, que podem assumir uma variedade de formas, desde animais fofinhos até personagens fantásticos.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralTwo" aria-expanded="true" aria-controls="accordionGeneralTwo">
                                        2. Quais materiais são usados na confecção dos amigurumis?
                                    </button>
                                </h2>

                                <div id="accordionGeneralTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Os amigurumis são geralmente feitos com fios de antialérgicos, em sua maioria 100% algodão, uma agulha de crochê e enchimento sintético antialérgico para dar forma ao boneco. Também podem possuir peças de plástico com travas de segurança como olhos e focinhos.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralThree" aria-expanded="true" aria-controls="accordionGeneralThree">
                                        3. Como posso cuidar do meu amigurumi?
                                    </button>
                                </h2>

                                <div id="accordionGeneralThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Recomendamos evitar lavar os amigurumis na máquina, pois isso pode danificar a peça. Em vez disso, sugerimos lavá-los à mão com água morna e sabão neutro e deixá-los secar ao ar e na sombra.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralFour" aria-expanded="true" aria-controls="accordionGeneralFour">
                                        4. Posso fazer encomendas personalizadas de amigurumis?
                                    </button>
                                </h2>

                                <div id="accordionGeneralFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Sim! Aceitamos encomendas personalizadas para criar amigurumis de acordo com suas preferências. Para encomendar o seu personalizado entre com contato por e-mail ou pelo WhatsApp para discutir suas ideias e obter um orçamento personalizado (magnificoponto@hotmail.com, (31) 98725-9104)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralFive" aria-expanded="true" aria-controls="accordionGeneralFive">
                                        5. Qual a forma de pagamento?
                                    </button>
                                </h2>

                                <div id="accordionGeneralFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Você pode efetuar o pagamento pelo PIX, por boleto, ou usando cartão de crédito. Com o cartão, você pode dividir em até 2x sem juros, ou em mais vezes com juros tal como estipulado pela plataforma do Mercado Pago.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralSix" aria-expanded="true" aria-controls="accordionGeneralSix">
                                        6. Eu posso personalizar o meu amigurumi?
                                    </button>
                                </h2>

                                <div id="accordionGeneralSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Claro. Ao fazer o seu pedido observe a cartela de cores disponível junto com as fotos do amigurumi e descreva na caixinha as cores que quer. Por exemplo: gostaria da cor “verde menta” para a blusa, a cor “brigadeiro” para o cabelo, olhos azuis e pele na cor “castanha”. Você pode usar o nome ou o número da cor tal como disponibilizado na cartela.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralSeven" aria-expanded="true" aria-controls="accordionGeneralSeven">
                                        7. E se eu quiser mais detalhes personalizados do que aqueles descritos na descrição do produto?
                                    </button>
                                </h2>

                                <div id="accordionGeneralSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Note que qualquer personalização além daquela que a descrição do produto provavelmente será cobrada a parte. Se quiser adicionar mais itens de personalização entre em contato conosco (magnificoponto@hotmail.com, (31) 98725-9104).</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralEight" aria-expanded="true" aria-controls="accordionGeneralEight">
                                        8. Quanto tempo leva para que eu receba o meu amigurumi?
                                    </button>
                                </h2>

                                <div id="accordionGeneralEight" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">O tempo necessário para fazer um amigurumi pode variar dependendo da complexidade do design e da disponibilidade de agenda. Além do mais, existe o tempo de entrega que precisa ser levado em consideração. Antes de concluir sua compra verifique o tempo estimado de envio e o tempo de entrega da transportadora.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralNine" aria-expanded="true" aria-controls="accordionGeneralNine">
                                        9. Vocês oferecem opções de envio internacional?
                                    </button>
                                </h2>

                                <div id="accordionGeneralNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Sim, oferecemos opções de envio internacional para que você possa receber seus amigurumis onde quer que esteja no mundo. Entre em contato conosco para obter mais informações sobre os custos de envio e os tempos de entrega estimados.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralTen" aria-expanded="true" aria-controls="accordionGeneralTen">
                                        10. Como faço para entrar em contato se tiver mais perguntas?
                                    </button>
                                </h2>

                                <div id="accordionGeneralTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Se você tiver outras perguntas ou dúvidas sobre nossos amigurumis, por favor, não hesite em nos contatar através do e-mail ou WhatsApp (magnificoponto@hotmail.com, (31) 98725-9104). Estamos aqui para ajudar e teremos prazer em responder a todas as suas perguntas!</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>
   

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>

</body>
</html>

