
@{
    ViewData["Title"] = "Sobre";
}



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">


</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>        

        <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">Magnífico Ponto:</span>
                            <span class="d-block text-dark">Artesanatos</span>
                        </h1>
                    </div>
                </div>
            </div>

            <img src="~/front/images/people/FaleConosco.jpeg" class="header-image img-fluid" alt="">
        </header>

        <section class="team section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-5">Conheça o nosso <span>time</span></h2>
                    </div>

                    <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                            <img src="~/front/images/people/Katia.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Kátia</h5>
                                <strong class="text-muted">Artesã, mãe</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#katia">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                            <img src="~/front/images/people/Karine.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Karine</h5>
                                <strong class="text-muted">Artesã, filha</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#karine">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="testimonial section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9 mx-auto col-11">
                        <h2 class="text-center">Amor do cliente, <br> <span>Magnífico</span> Ponto</h2>

                        <div class="slick-testimonial-caption">
                            <p class="lead"><strong>Estou absolutamente encantada com o amigurumi que recebi da Magnífico Ponto para decorar o quartinho da minha sobrinha! A atenção aos detalhes e a qualidade do trabalho artesanal são simplesmente impressionantes. Cada vez que olho para o adorável amigurumi, sinto o amor e a dedicação que foram investidos em sua criação.</strong></p>
                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                <img src="~/front/images/people/ImagemCliente1.jpg" class="img-fluid custom-circle-image me-3" alt="">
                                <span>Franciele</span>
                            </div>
                        </div>

                        <div class="slick-testimonial-caption">
                            <p class="lead"><strong>Estou muito feliz com o meu amigurumi que recebi da Magnífico Ponto. Cada detalhe lindo, dele. Super personalizado, do jeitinho que sonhei. Amei !</strong></p>
                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                <img src="~/front/images/people/ImagemCliente2.jpg" class="img-fluid custom-circle-image me-3" alt="">
                                <span>Anna Freitas</span>
                            </div>
                        </div>

                        <div class="slick-testimonial-caption">
                            <p class="lead"><strong>Fiquei extremamente satisfeito com o meu amigurumi que comprei no Magnífico Ponto. Os detalhes são simplesmente encantadores, consegui personalizar do jeito que idealizei, estou completamente apaixonado!</strong></p>
                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                <img src="~/front/images/people/ImagemCliente3.jpg" class="img-fluid custom-circle-image me-3" alt="">
                                <span>Guilherme</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    

    <!-- INFOS DO MEMBRO -->
    <div class="modal fade" id="katia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Kátia</h3>

                    <h6 class="text-muted">A Alma Criativa por Trás da Magnífico Ponto </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Kátia, a mente por trás da Magnífico Ponto, é mais do que uma simples artesã - ela é a personificação do amor entre mãe e filha. </h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Enquanto dividia seu tempo entre sua jornada como funcionária pública e sua filha praticando crochê durante os dias de pandemia da COVID-19, Kátia sentiu o chamado para aprender e criar com as próprias mãos. O resultado?</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Um ateliê repleto de peças artesanais que transbordam o calor e o cuidado de uma mãe dedicada. Sua paixão pelo nicho materno/infantil se reflete em cada amigurumi que ela cuidadosamente produz, trazendo uma aura de afeto para lares ao redor do Brasil.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- INFOS DO MEMBRO -->
    <div class="modal fade" id="karine" tabindex="-1" aria-labelledby="exampleModalLabelKarine" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabelKarine">Karine</h3>

                    <h6 class="text-muted">A Força por Trás da Magnífico Ponto </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Karine, uma estudante de medicina com um talento inato para o artesanato, encontrou refúgio na arte do amigurumi durante os dias turbulentos da pandemia.</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Com uma história de sucesso anterior na criação de chapéus personalizados, Karine traz consigo uma herança de habilidade e paixão pelo artesanato. Agora, seu maior projeto é apoiar sua mãe em transformar a Magnífico Ponto em um verdadeiro sucesso. </p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Com cada peça cuidadosamente confeccionada, Karine e sua mãe compartilham não apenas seu talento, mas também o carinho e o amor que esperam alcançar os lares e corações de seus clientes.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>

</body>
</html>


