<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Termos de Uso</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/termos.css">

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            Termos de Uso
          </div>
          <div class="card-body">
                        <p>
                            <strong></strong> Termos de Uso

                            Por favor, leia atentamente estes termos de uso ("Termos") antes de utilizar o nosso website (o "Serviço") operado por Ponto Magnífico.

                            Seu acesso e uso do Serviço estão condicionados à sua aceitação e conformidade com estes Termos. Estes Termos se aplicam a todos os visitantes, usuários e outras pessoas que acessam ou usam o Serviço.

                            Ao acessar ou usar o Serviço, você concorda em ficar vinculado a estes Termos. Se você discordar de qualquer parte destes Termos, então você não tem permissão para acessar o Serviço.
                        </p>
                        <p>
                            <strong>Contas:</strong> Ao criar uma conta conosco, você deve fornecer informações precisas, completas e atualizadas em todos os momentos. O não cumprimento deste requisito constitui uma violação dos Termos, o que pode resultar no encerramento imediato da sua conta no nosso Serviço.

                            Você é responsável por proteger a senha que você usa para acessar o Serviço e por qualquer atividade ou ação sob sua senha, quer sua senha seja com nosso Serviço ou um serviço de terceiros.

                            Você concorda em não divulgar sua senha a terceiros. Você deve nos notificar imediatamente após tomar conhecimento de qualquer violação de segurança ou uso não autorizado da sua conta.
                        </p>
                        <p>
                            <strong>Links para Outros Websites:</strong> Nosso Serviço pode conter links para sites ou serviços de terceiros que não são de propriedade ou controlados por nós.

                            Não temos controle e não assumimos responsabilidade pelo conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros. Você reconhece e concorda que não seremos responsáveis, direta ou indiretamente, por qualquer dano ou perda causada ou supostamente causada por ou em conexão com o uso de ou confiança em qualquer conteúdo, bens ou serviços disponíveis em ou através de tais sites ou serviços.
                        </p>
                        <p>
                            <strong>Alterações:</strong> Reservamo-nos o direito, a nosso exclusivo critério, de modificar ou substituir estes Termos a qualquer momento. Se uma revisão for material, tentaremos fornecer pelo menos 30 dias de aviso prévio antes que quaisquer novos termos entrem em vigor. O que constitui uma alteração material será determinado a nosso exclusivo critério.

                            Ao continuar a acessar ou usar nosso Serviço após essas revisões entrarem em vigor, você concorda em ficar vinculado aos termos revisados. Se você não concordar com os novos termos, pare de usar o Serviço.
                        </p>
                        <p>
                            <strong>Contate-Nos:</strong> 

                            Se você tiver alguma dúvida sobre estes Termos, por favor, entre em contato conosco.
                        </p>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
