<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagnificoPonto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MagnificoPonto.styles.css" asp-append-version="true" />
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <strong><span>Magnífico</span> Ponto</strong>
                </a>

                <div class="d-lg-none">
                    <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                    <a href="product-detail.html" class="bi-bag custom-icon"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ListarProdutos" asp-action="ListaProdutos">Produtos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQs">FAQs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Produtos" asp-action="Index">Admin</a>
                        </li>                  
                            
                    </ul>                    

                    <partial name="_LoginPartial" />
                    
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="index.html">Magnífico</a> Ponto</h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong>Magnífico Ponto</strong></p>
                    <br>
                    <p class="copyright-text">Designed by <a href="#" target="_blank">Equipe</a></p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Mapa do site</h5>

                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a class="footer-menu-link" asp-controller="Home" asp-action="Index">Início</a></li>

                        <li class="footer-menu-item"><a class="footer-menu-link" asp-controller="Home" asp-action="Sobre">Sobre</a></li>

                        <li class="footer-menu-item"><a class="footer-menu-link" asp-controller="ListarProdutos" asp-action="ListaProdutos">Produtos</a></li>

                        <li class="footer-menu-item"><a class="footer-menu-link" asp-controller="Home" asp-action="FAQs">FAQs</a></li>

                        <li class="footer-menu-item"><a class="footer-menu-link" asp-controller="Home" asp-action="Contato">Contato</a></li>

                        <li class="footer-menu-item"><a class="footer-menu-link" asp-controller="Home" asp-action="Termos">Termos de uso</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>

                    <ul class="social-icon">

                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </footer>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
