<br />
<img src="~/front/images/logotipo.jpeg" alt="Àrea de Administração" class="margintop1" />

<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Bem vindo a Área de Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para a Home Page</a>
</div>