@model IEnumerable<MagnificoPonto.Models.ProdutoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de produtos</h1>


<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto - Produtos</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <header class="site-header section-padding d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary"> Conheça nossos</span>
                            <span class="d-block text-dark">Produtos</span>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="products section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-5">Catálogo Amigurumis</h2>
                    </div>



                    <!-- PRODUTO -->

                    
                    @foreach (var item in Model)
                    {

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="/Amigurumis/@Html.DisplayFor(modelItem => item.ImageFileName)" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert me-auto">Novos Produtos</span>
                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">@Html.DisplayFor(modelItem => item.Nome)</a>
                                    </h5>
                                        <a class="btn btn-success btn-sm" asp-action="InfoProdutos" asp-route-id="@item.Id">Ver detalhes</a>
                                </div>
                                    <small class="product-price text-muted ms-auto">@Html.DisplayFor(modelItem => item.Preco)</small>
                            </div>
                        </div>
                    </div>                   

                    }

                </div>
            </div>

        </section>

     </main>

                    <!-- JAVASCRIPT FILES -->
                    <script src="~/front/js/jquery.min.js"></script>
                    <script src="~/front/js/bootstrap.bundle.min.js"></script>
                    <script src="~/front/js/Headroom.js"></script>
                    <script src="~/front/js/jQuery.headroom.js"></script>
                    <script src="~/front/js/slick.min.js"></script>
                    <script src="~/front/js/custom.js"></script>

</body>
</html>









